{% extends 'base.html' %}

<h1 >ساخته شده توسط علیرضا جمشیدی</h1>
<h2>@</h2> 
<h3>@</h3>
<h4>@</h4>
<h5>@</h5>
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">درباره ما </h1>
            <p class="lead fw-normal text-white-50 mb-0">معرفی</p>
        </div>
    </div>
 </header>

 <h1 >ساخته شده توسط علیرضا جمشیدی</h1>
 <h2>درس پروژه</h2> 
 <h3>استاد پروژه: استاد شجاعی</h3>
 <h4>@</h4>
 <h5>@</h5>

 {% endblock%}